{%extends 'base_layout.html'%} {%block content%} {% load static %}
<div id="search">
  <form>
    <input type="text" id="search_bar" />
    <input type="submit" id="search_button" />
  </form>
  <script src="{% static '/search.js'%}"></script>
</div>
<a href="create/"><button>Create a new Article</button></a>
<div id="parallax">
  <div class="articles">
    {%for article in articles%}
    <div class="article">
      <h3><a href="{{article.slug}}">{{article.title}}</a></h3>
      <p>{{article.snippet}}</p>
      <p>{{article.date}}</p>
    </div>
    {%endfor%}
  </div>
</div>
{%endblock%}
