{% load static %}
<!DOCTYPE html>
<html>
  <h1>Blogsher</h1>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static '/style.css'%}" />
  </head>
  <nav>
    <ul>
      <li>
        <form
          class="logout-link"
          action="{%url 'accounts:logout'%}"
          method="post"
        >
          {%csrf_token%}
          <button type="submit">Logout</button>
        </form>
      </li>
    </ul>
  </nav>
  <body>
    {% block content %} {%endblock%}
  </body>
  <script src="{% static '/script.js'%}"></script>
</html>
